//Breakpoints
@media screen and (min-width: 1290px){
    section.message{
        display: none;
    }
}

@media screen and (max-width: 1289px){
    section.top{
        display: none;
    }
    section.message{
        width: 100%;
        height: 100vh;
        @include flex-hack(row, center, center);
        font-family: $anton;

        h1{
            margin: 0;
            font-weight: 100;
            padding: 0 1rem;
            text-align: center;
            font-size: 1.5rem;

            strong{
                display: block;
                text-align: center;
                font-family: Arial;
                font-size: 2rem;
                margin-top: 1rem;
            }
        }
    }
    section.bottom{
        display: none;
    }
}