// Fuentes
@import url('https://fonts.googleapis.com/css?family=Anton');

$anton: 'Anton', sans-serif;
// Colores

$dark: #000;
$light-dark: rgb(44, 44, 44);
$gold: rgb(255, 213, 0);
$red-arrow: rgb(191, 4, 4);