section.bottom {
  width: 100%;
  display: flex;
  padding: 0 4rem;
  height: 100vh;
  background-color: $gold;

  .title-container {
    width: 100%;
    height: auto;
    min-height: 100%;
    @include flex-hack(column, center, center);

    h1 {
      font-family: $anton;
      margin: 0;
      font-size: 3.5rem;
      font-weight: 300;
      text-transform: uppercase;
      margin-right: 5%;
      letter-spacing: 2px;
      line-height: 4rem;
      width: 100%;

      span {
        display: block;
      }
    }

    h2 {
      font-family: helvetica;
      text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: 600;
      font-style: italic;
      margin: 0;
      margin-top: 0.5rem;
      margin-right: 5%;
      width: 100%;
    }
  }

  .warrior-container {
    width: 100%;
    height: auto;
    @include flex-hack(row, center, center);
    padding: 5rem 0;

    .container {
      border: 1.5rem solid $dark;
      border-radius: 3%;
      width: 680px;
      min-height: 600px;
      padding: 0.6rem;
      display: flex;

      .black-box {
        width: 100%;
        height: auto;
        border-radius: 15px;
        @include flex-hack(column, center, space-between);
        position: relative;

        .top-box {
          width: 100%;
          height: 16%;
          background-color: $dark;
          border-radius: 15px 15px 0 0;
        }

        .handles {
          width: 24%;
          height: 90px;
          position: absolute;
          right: 32.5%;
          top: 16%;
          z-index: 2;

          .first-handle {
            width: 4px;
            height: 65%;
            background-color: $dark;
            position: absolute;
            left: 0;

            &::after {
              content: "";
              position: absolute;
              height: 50px;
              width: 50px;
              background-color: $gold;
              bottom: -50px;
              border-radius: 50%;
              right: -27.5px;
              border: 4px solid $dark;
            }

            &::before{
              content: "";
              position: absolute;
              height: 90px;
              width: 90px;
              background-color: transparent;
              bottom: -74px;
              border-radius: 50%;
              right: -52px;
              border: 8px solid $red-arrow;
            }
          }

          .second-handle {
            width: 4px;
            height: 65%;
            background-color: $dark;
            position: absolute;
            right: 0;

            &::after {
              content: "";
              position: absolute;
              height: 50px;
              width: 50px;
              background-color: $gold;
              bottom: -50px;
              border-radius: 50%;
              right: -27.5px;
              border: 4px solid $dark;
            }
          }
        }

        .windows {
          width: 100%;
          height: 140px;
          position: absolute;
          top: 32%;
          display: flex;
          justify-content: space-between;

          .left-window {
            width: 16%;
            border: 5px solid $dark;
            border-left: unset;
            height: 100%;
            border-radius: 0 20px 20px 0;
          }

          .center-window {
            border: 5px solid $dark;
            width: 42%;
            height: 100%;
            border-radius: 20px;
          }

          .right-window {
            border: 5px solid $dark;
            width: 30%;
            height: 100%;
            border-radius: 20px 0 0 20px;
            border-right: 0;
          }
        }

        .left-exclamation {
          width: 80px;
          height: 80px;
          position: absolute;
          left: 8%;
          bottom: 25%;
          transform: rotate(-65deg);

          span:first-child {
            width: 2rem;
            height: 0.5rem;
            background-color: #000;
            position: absolute;
            bottom: 0;
            top: 38px;
            right: -14px;
            transform: rotate(90deg);
            border-radius: 10px;
          }

          span:nth-child(2) {
            width: 2rem;
            height: 0.5rem;
            background-color: #000;
            position: absolute;
            bottom: 0;
            top: 48px;
            right: 10px;
            transform: rotate(45deg);
            border-radius: 10px;
          }

          span:last-child {
            width: 2rem;
            height: 0.5rem;
            background-color: #000;
            position: absolute;
            bottom: 0;
            right: 18px;
            border-radius: 10px;
          }
        }

        .person-box {
          width: 100%;
          height: 100%;
          position: absolute;

          .head {
            width: 70px;
            height: 70px;
            background-color: #000;
            position: absolute;
            left: 13%;
            top: 42%;
            border-radius: 50%;
          }

          .left-arm {
            width: 15%;
            height: 35px;
            position: absolute;
            bottom: 44%;
            left: 22%;
            transform: rotate(-53deg);
            background-color: $dark;
            border-radius: 10px 30px 15px 0;
            z-index: 2;

            &::after {
              content: "";
              width: 38%;
              height: 70px;
              background-color: #000;
              position: absolute;
              right: -27px;
              top: -40px;
              transform: rotate(45deg);
              border-radius: 15px 15px 5px 0;
            }
          }

          .right-arm {
            width: 28%;
            height: 35px;
            position: absolute;
            bottom: 42%;
            left: 26%;
            transform: rotate(-8deg);
            background-color: $dark;
            border-radius: 0 30px 30px 0;
          }

          .body {
            width: 60px;
            height: 145px;
            background-color: $dark;
            position: absolute;
            bottom: 21%;
            left: 28%;
            transform: rotate(-36deg);
            border-radius: 15px 0px 0px 15px;
          }

          .left-leg {
            width: 38%;
            height: 45px;
            background-color: $dark;
            position: absolute;
            bottom: 28%;
            left: 33%;
            transform: rotate(-36deg);
            border-radius: 0px 30px 30px 30px;
          }

          .right-leg {
            width: 18%;
            height: 45px;
            background-color: $dark;
            position: absolute;
            bottom: 24%;
            left: 50%;
            transform: rotate(10deg);
            border-radius: 0px 30px 30px 0px;
          }
        }

        .briefcase {
          width: 16%;
          height: 65px;
          background-color: $dark;
          position: absolute;
          bottom: 33%;
          right: 6%;
          transform: rotate(50deg);
          border-radius: 10px;

          &::after{
            content: "";
            border: 4px solid $dark;
            width: 30px;
            height: 30px;
            background-color: transparent;
            position: absolute;
            border-radius: 50%;
            left: calc(50% - 17px);
            top: -15px;
          }
        }

        .right-exclamation {
            width: 80px;
            height: 80px;
            position: absolute;
            right: 17%;
            bottom: 22%;
            transform: rotate(115deg);

            span:first-child {
              width: 2rem;
              height: 0.5rem;
              background-color: #000;
              position: absolute;
              bottom: 0;
              top: 38px;
              right: -14px;
              transform: rotate(90deg);
              border-radius: 10px;
            }

            span:nth-child(2) {
              width: 2rem;
              height: 0.5rem;
              background-color: #000;
              position: absolute;
              bottom: 0;
              top: 48px;
              right: 10px;
              transform: rotate(45deg);
              border-radius: 10px;
            }

            span:last-child {
              width: 2rem;
              height: 0.5rem;
              background-color: #000;
              position: absolute;
              bottom: 0;
              right: 18px;
              border-radius: 10px;
          }
        }
        
        .bottom-box {
          width: 100%;
          height: 15%;
          background-color: $dark;
          border-radius: 0 0 15px 15px;
        }
      }
    }
  }
}
