section.bottom {
  width: 100%;
  display: flex;
  padding: 0 4rem;
  height: 100vh;
  background-color: $gold;
  border: 1px solid blue;
  .title-container {
    width: 100%;
    height: auto;
    min-height: 100%;
    @include flex-hack(column, center, center);
    h1 {
      font-family: $anton;
      margin: 0;
      font-size: 3.5rem;
      font-weight: 300;
      text-transform: uppercase;
      margin-right: 5%;
      letter-spacing: 2px;
      line-height: 4rem;
      width: 100%;
      span {
        display: block;
      }
    }
    h2 {
      font-family: helvetica;
      text-transform: uppercase;
      font-size: 2rem;
      font-weight: 300;
      font-style: italic;
      margin: 0;
      margin-top: 0.5rem;
      margin-right: 5%;
      width: 100%;
    }
  }

  .warrior-container {
    width: 100%;
    height: auto;
    @include flex-hack(row, center, center);
    padding: 5rem 0;
    .container {
      border: 1.5rem solid $dark;
      border-radius: 3%;
      width: 680px;
      min-height: 600px;
      padding: 2rem 1.5rem;
      display: flex;
    }
  }
}
