<section class="bottom">
    <div class="title-container">
        <h1>
            Tómese del pasamanos
            <span> y/o manillas</span>
        </h1>
        <h2>
            Hold the handrail or handles
        </h2>
    </div>

    <div class="warrior-container">
        <div class="container">
            
        </div>
    </div>
</section>