<section class="bottom" id="bottomSection">
    <div class="title-container">
        <h1>
            Tómese del pasamanos
            <span> y/o manillas</span>
        </h1>
        <h2>
            Hold the handrail or handles
        </h2>
    </div>

    <div class="warrior-container">
        <div class="container">
            <div class="black-box">
                <div class="top-box"></div>
                <div class="handles">
                    <span class="first-handle"></span>
                    <span class="second-handle"></span>
                </div>
                <div class="windows">
                    <div class="left-window"></div>
                    <div class="center-window"></div>
                    <div class="right-window"></div>
                </div>
                <div class="left-exclamation">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="person-box">
                    <div class="head"></div>
                    <div class="left-arm"></div>
                    <div class="right-arm"></div>
                    <div class="body"></div>
                    <div class="left-leg"></div>
                    <div class="right-leg"></div>
                </div>
                <div class="briefcase"></div>
                <div class="right-exclamation">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="bottom-box"></div>
            </div>
        </div>
    </div>
</section>