<section class="header">
    <div class="title-container">
        <h1>
            Mind the closing doors
        </h1>
    </div>

    <div class="magic-container">
        <div class="container">
            <div class="door-box">
                <div class="door-left">
                    <div class="window-left"></div> 
                    <div class="arrow-left">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="door-right">
                    <div class="window-right"></div>
                    <div class="arrow-right">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>