<section class="top">
    <div class="title-container">
        <h1>
           Cuidado con el 
           <span> cierre de puertas</span> 
        </h1>
        <h2>
            Mind the closing doors
        </h2>
        <a href="../static/img/img1.jpeg" target="_blank">
            Imagen de referencia
        </a>
    </div>

    <div class="warrior-container">
        <div class="container">
            <div class="door-box">
                <div class="door-left">
                    <div class="window-left"></div> 
                    <div class="arrow-left">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="left-tape">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="door-right">
                    <div class="window-right"></div>
                    <div class="arrow-right">
                        <span></span>
                        <span></span>
                        <span></span>
                        
                    </div>
                    <div class="right-tape">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="person-box">
                    <div class="exclamation">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="head"></div>
                    <div class="arms"></div>
                    <div class="body"></div>
                    <div class="leg"></div>
                </div>  
            </div>
        </div>
    </div>
</section>